
body{
	height: 1000px
}

div	{
     
    /*propiedades de fuente*/
    font-family: 
    
{

	font-size:;



	text-align:;

	position:;

	display:;

	background-color:;
	height:;
	width:;
	margin:; 


    padding:;

    border-radius:; 
    
    border-top-width:;

}